@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Delius+Unicase:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Delius+Unicase:wght@400;700&family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Dancing+Script:wght@400..700&family=Delius+Unicase:wght@400;700&family=Gowun+Dodum&display=swap');

:root {
    --principal: #A8D5BA;
    --secundario: #FFFBF0;
    --resaltador: #FF6F61;
    --neutro: #D7B19D;
    --oscuro: #232222
}

* {
    margin: 0;
    padding: 0;

}

.contenedor-producto {
    width: 100%;
    height: 105%;
    text-align: center;
    background-color: var(--secundario);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 18px 0px 15px 0px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 2rem;
    
}


.datos-producto { 
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    justify-content: center;
}

img {
    width: 200px;
    height: 200px;
    padding: 0 0 10px 0;
   
}

h3 {
    color: var(--oscuro);
    text-align: center;
    font-size: 25px;
    font-family: "Bona Nova", serif;
    
}

p {
    padding: 20px 0 0 0;
    text-align: center;
    color: var(--principal);
    font-family: "Gowun Dodum", sans-serif;
   
}

.link-producto {
    font-size: 50px;
    text-align: center;
    color: var(--oscuro);
    all: unset;
    cursor: pointer; 
    font-family: "Bona Nova", serif;
    padding: 30px 0 10px 0;
   
}

.link-producto:hover {
    color: var(--resaltador);
    transition: 0.6s;
}

