@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Delius+Unicase:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Delius+Unicase:wght@400;700&family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Dancing+Script:wght@400..700&family=Delius+Unicase:wght@400;700&family=Gowun+Dodum&display=swap');



:root {
    --principal: #A8D5BA;
    --secundario: #FFFBF0;
    --resaltador: #FF6F61;
    --clarito: #f89990;
    --neutro: #D7B19D;
    --oscuro: #232222
}

.contenedor-detalle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url('/imagenes/fondo_detalle.jpg');
    background-size: cover;
    background-position: center;
}

.detalles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--clarito);
    border: 10px solid var(--secundario);
    border-radius: 25px;
    height: 45vh;
    width: 50%;
    padding: 40px;
}


.detalles h1 {
    color: var(--secundario);
    font-size: 70px;
    text-align: center;
    padding: 25px 0 0 0;
}

.detalles p {
    color: var(--oscuro);
}

.link-volver {
    all: unset;
    cursor: pointer;
    font-family: "Bona Nova", serif;
    padding: 30px;
    color: var(--secundario);
    font-size: 20px;
    text-align: end;


}

.link-volver:hover {
    color: var(--oscuro);
    transition: 0.6s;
    font-size: 25px;
}
